.connectivity-notification {
  padding: 12px 15px;
  background-color: var(--bg-color-secondary);
  display: flex;
  align-items: center;
  column-gap: 15px;
  color: var(--text-secondary);
}

.connectivity-notification-title {
  color: var(--text-primary-strong);
  font-size: 16px;
}

.connectivity-notification > img {
  filter: invert(82%) sepia(49%) saturate(1077%) hue-rotate(328deg)
    brightness(103%) contrast(103%);
}
