#chat-window {
  flex-grow: 2;

  display: flex;
  flex-direction: column;
  position: relative;
  /* background: url(../images/chat-bg.png); */
}

.contact-menu {
  position: absolute;
  right: 5px;
}

#active-chat-details {
  flex-grow: 1;
}



/* #chat-window-contents::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: -1;
} */

#active-chat-details > .info {
  color: var(--text-secondary);
  font-size: 13px;
}



.shrink {
  height: 0;
  width: 0;
}
