#chat-window {
  flex-grow: 2;

  display: flex;
  flex-direction: column;
  position: relative;
  /* background: url(../images/chat-bg.png); */
}

.contact-menu {
  position: absolute;
  right: 5px;
}

#active-chat-details {
  flex-grow: 1;
}

#chat-window-contents {
  flex-grow: 1;
  position: relative;
  z-index: 1;
  overflow: auto;
  padding: 10px;
}

/* #chat-window-contents::before {
  content: "";
  position: absolute;
  background-color: rgba(0, 0, 0, 0.9);
  width: 100%;
  height: 100%;
  z-index: -1;
} */

#active-chat-details > .info {
  color: var(--text-secondary);
  font-size: 13px;
}

.scroll-to-top-button {
  border-radius: 50%;
  height: 42px;
  width: 42px;
  background-color: var(--primary);
  position: absolute;
  bottom: 80px;
  right: 20px;
  transition: all 0.1s ease-in-out;
  z-index: 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.scroll-to-top-button-icon {
  height: 35px;
  width: 35px;
}

.shrink {
  height: 0;
  width: 0;
}
